:root {
    --size-margin: 20px;
    --width-border: 1px;
}

body {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    border-width: var(--width-border);
    padding: var(--size-margin);
}

.result {
    height: 100px;
    width: 450px;
    border: 1px solid #aaa;
    
    transition: none;
}
button {
    cursor: pointer;
    width: 100px;
    height: 60px;
    font-size: 30px;
    border: 1px solid #ddd;
    margin-top: var(--size-margin);
    margin-right: 10px;
    transition: border-color 1s ease, box-shasow 1s, background-color 1s; 
} /*transition: 적용할 속성, duration, delay*/

.btn-sign:hover,
.btn-num:hover,
.btn-equ:hover {
    border-color: #ccc;
    box-shadow: 1px 2px 5px 1px rgb(62, 62, 62);
}

.btn-num:hover {
    background-color: rgb(201, 196, 196);
}


.btn-sign {
    background-color: #b2c6eb;
   
}

.btn-num {
    background-color: #f0f0ed;
}

.btn-equ {
    background-color: #4d89eb;
}